AWSTemplateFormatVersion: 2010-09-09
Description: Template for OpenShift Cluster Node Launch (EC2 cp instances)
Parameters:
  pSampleEnv:
    Type: String
    Description: Production? Test?
    AllowedValues:
      - prod
      - test
  pEc2DailyStop:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 10PM EST, 7PM PST?
    AllowedValues:
      - "true"
      - "false"
  pEc2DailyStart:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 4AM EST, 1AM PST?
    AllowedValues:
      - "true"
      - "false"
  pKubernetesType:
    Type: String
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pDomain:
    Description: The domain representing the environment (ex. sample.sample.dev or sample.sample.dev)
    Type: String
    AllowedValues:
      - sample
      - sample
  pInfrastructureName:
    AllowedPattern: ^([a-zA-Z][a-zA-Z0-9\-]{0,26})$
    MaxLength: 27
    MinLength: 1
    ConstraintDescription: Infrastructure name must be alphanumeric, start with a letter, and have a maximum of 27 characters.
    Description: A short, unique cluster ID used to tag nodes for the kubelet cloud provider.
    Type: String
  pAMIId:
    Type: AWS::EC2::Image::Id
  pControlPlaneInstanceType:
    Type: String
  pAutoRegisterELB:
    AllowedValues:
      - "yes"
      - "no"
    Description: Do you want to invoke NLB registration, which requires a Lambda ARN parameter?
    Type: String
  pHostedZoneId:
    Description: The Route53 public zone ID to register the targets with, such as Z21IXYZABCZ2A4.
    Type: String
  pControlPlaneSecurityGroupId:
    Type: String
  pControlPlaneInstanceProfileId:
    Type: String
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "Cluster Information"
        Parameters:
          - pInfrastructureName
      - Label:
          default: "Host Information"
        Parameters:
          - pControlPlaneInstanceType
          - pRKEAMIId
      - Label:
          default: "Network Configuration"
        Parameters:
          - pVpcId
          - AllowedBootstrapSshCidr
          - pControlPlane0Subnet
          - pControlPlane1Subnet
          - pControlPlane2Subnet
      - Label:
          default: "Load Balancer Automation"
        Parameters:
          - pAutoRegisterELB
          - pRegisterNlbIpTargetsLambdsamplern
          - ExternalApiTargetGroupArn
          - pInternalApiTargetGroupArn
          - pInternalServiceTargetGroupArn
    ParameterLabels:
      pInfrastructureName:
        default: "Infrastructure Name"
      pVpcId:
        default: "VPC ID"
      pControlPlane0Subnet:
        default: "ControlPlane-0 Subnet"
      pControlPlane1Subnet:
        default: "ControlPlane-1 Subnet"
      pControlPlane2Subnet:
        default: "ControlPlane-2 Subnet"
      pControlPlaneInstanceType:
        default: "ControlPlane Instance Type"
      pAutoRegisterELB:
        default: "Use Provided ELB Automation"
Conditions:
  DoRegistration: !Equals ["yes", !Ref pAutoRegisterELB]
Resources:
  KubernetesLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub cp-${pDeploymentNumber}-${pEnvironment}-${pKubernetesType}-launch-template
      LaunchTemplateData:
        KeyName: !Sub "{{resolve:ssm:/sample/ec2/sample-deployment-${pDeploymentNumber}/ec2/default-key/name}}"
        ImageId: !Ref pAMIId
        MetadataOptions:
          InstanceMetadataTags: disabled
          HttpTokens: optional
        BlockDeviceMappings:
          - DeviceName: /dev/sda1
            Ebs:
              VolumeSize: "130"
              VolumeType: "gp2"
        IamInstanceProfile:
          Name: !Ref pControlPlaneInstanceProfileId
        InstanceType: !Ref pControlPlaneInstanceType
        NetworkInterfaces:
          - AssociatePublicIpAddress: "false"
            DeviceIndex: "0"
            Groups:
              - !Ref pControlPlaneSecurityGroupId
            SubnetId: !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-1/id}}"
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: ec2DailyStop
                Value: !Ref pEc2DailyStop
              - Key: ec2DailyStart
                Value: !Ref pEc2DailyStart
              - Key: "deploymentType"
                Value: sampleDeployment
              - Key: "deploymentEnvironment"
                Value: !Ref pEnvironment
              - Key: "sampleDeploymentNumber"
                Value: !Ref pDeploymentNumber
              - Key:
                  !Join [
                    "",
                    ["kubernetes.io/cluster/", !Ref pInfrastructureName, !Ref pKubernetesType],
                  ]
                Value: "shared"
              - Key: "systemGroup"
                Value: "Ubuntu"
              - Key: "kubernetesPlatform"
                Value: !Ref pKubernetesType
  ControlPlane0:
    Type: AWS::EC2::Instance
    Properties:
      LaunchTemplate:
        LaunchTemplateId: !Ref KubernetesLaunchTemplate
        Version: !GetAtt KubernetesLaunchTemplate.LatestVersionNumber
      UserData:
        Fn::Base64: !Sub |
          #!/bin/bash
          OSVERSION=$(grep -E '^(VERSION_ID)=' /etc/os-release | awk -F"\"" '{print $2}' | awk -F"." '{print $1}')
          COMPLIANCEID=$(aws ssm get-parameter --name /redhat/insights/rhel$OSVERSION/complianceid --query Parameter.Value --with-decryption --output=text)
          REDHATPASSWORD=$(aws ssm get-parameter --name /redhat/samplerheladmin/password --query Parameter.Value --with-decryption --output=text)
          ROOTPASSWORD=$(aws ssm get-parameter --name /sample/ec2/root/password --query Parameter.Value --with-decryption --output=text)
          InstanceName=`cp-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev`
          hostnamectl set-hostname $InstanceName --static
          dnf install insights-client scap-security-guide openscap-scanner openscap -y
          subscription-manager register --force --username samplerheladmin --password "$REDHATPASSWORD"
          insights-client --register
          insights-client  --compliance-assign  "$COMPLIANCEID"
          echo "root:$ROOTPASSWORD" | chpasswd
      Tags:
        - Key: Name
          Value: !Sub "cp-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
  RegisterControlPlane0HTTP:
    Condition: DoRegistration
    Type: Custom::NLBRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !Sub "{{resolve:ssm:/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn}}"
      TargetArn: !Sub "{{resolve:ssm:/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/externalingresstargetgrouphttp/arn}}"
      TargetIp: !GetAtt ControlPlane0.PrivateIp
  RegisterControlPlane0HTTPS:
    Condition: DoRegistration
    Type: Custom::NLBRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !Sub "{{resolve:ssm:/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn}}"
      TargetArn: !Sub "{{resolve:ssm:/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/externalingresstargetgrouphttps/arn}}"
      TargetIp: !GetAtt ControlPlane0.PrivateIp
  RegisterControlPlane0InternalApiTarget:
    Condition: DoRegistration
    Type: Custom::NLBRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !Sub "{{resolve:ssm:/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn}}"
      TargetArn: !Sub "{{resolve:ssm:/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/internalapitargetgroup/arn}}"
      TargetIp: !GetAtt ControlPlane0.PrivateIp
  RegisterControlPlane0InternalServiceTarget:
    Condition: DoRegistration
    Type: Custom::NLBRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !Sub "{{resolve:ssm:/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn}}"
      TargetArn: !Sub "{{resolve:ssm:/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/internalservicetargetgroup/arn}}"
      TargetIp: !GetAtt ControlPlane0.PrivateIp
  ControlPlane0EC2HostRoute53Record:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref pHostedZoneId
      Name: !Sub "cp-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
      ResourceRecords:
        - !GetAtt ControlPlane0.PrivateIp
      TTL: 900
      Type: A
  ControlPlanePrivateIp0Parameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/ec2/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/cp/0/privateip"
      Type: String
      Value: !GetAtt ControlPlane0.PrivateIp
      Description: SSM Parameter for ControlPlanePrivateIPs
