AWSTemplateFormatVersion: 2010-09-09
Description: Template for OpenShift Cluster Network Elements (Route53 & LBs)
Parameters:
  pSampleEnv:
    Type: String
    Description: Production? Test?
    AllowedValues:
      - prod
      - test
  pKubernetesType:
    Type: String
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pDomain:
    Description: The domain representing the environment (ex. sample.sample.dev or sample.sample.dev)
    Type: String
    AllowedValues:
      - sample
      - sample
  pClusterName:
    MaxLength: 27
    MinLength: 1
    ConstraintDescription: Cluster name must be alphanumeric, start with a letter, and have a maximum of 27 characters.
    Description: A short, representative cluster name to use for host names and other identifying names.
    Type: String
  pInfrastructureName:
    MaxLength: 27
    MinLength: 1
    ConstraintDescription: Infrastructure name must be alphanumeric, start with a letter, and have a maximum of 27 characters.
    Description: A short, unique cluster ID used to tag cloud resources and identify items owned or used by the cluster.
    Type: String
  pHostedZoneId:
    Description: The Route53 public zone ID to register the targets with, such as Z21IXYZABCZ2A4.
    Type: String
  pHostedZoneName:
    Description: The Route53 zone to register the targets with, such as example.com. Omit the trailing period.
    Type: String
  pVpcId:
    Description: The VPC-scoped resources will belong to this VPC.
    Type: AWS::EC2::VPC::Id
  pELBSecurityGroupGroupId:
    Type: String
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "Cluster Information"
        Parameters:
          - pClusterName
          - pInfrastructureName
      - Label:
          default: "Network Configuration"
        Parameters:
          - pVpcId
          - PublicSubnets
      - Label:
          default: "DNS"
        Parameters:
          - pHostedZoneName
          - pHostedZoneId
    ParameterLabels:
      pClusterName:
        default: "Cluster Name"
      pInfrastructureName:
        default: "Infrastructure Name"
      pVpcId:
        default: "VPC ID"
      PublicSubnets:
        default: "Public Subnets"
      pHostedZoneName:
        default: "Public Hosted Zone Name"
      pHostedZoneId:
        default: "Public Hosted Zone ID"
Resources:
  IngressElb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Join ["-", [!Ref pInfrastructureName, "ingress", !Ref pKubernetesType]]
      Scheme: internal
      IpAddressType: ipv4
      Subnets:
        - !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-0/id}}"
      Type: network
  IntApiElb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Join ["-", [!Ref pInfrastructureName, "int", !Ref pKubernetesType]]
      Scheme: internal
      IpAddressType: ipv4
      Subnets:
        - !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-0/id}}"
      Type: network
      SecurityGroups:
        - !Ref pELBSecurityGroupGroupId
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: "kubernetesPlatform"
          Value: !Ref pKubernetesType
  IngressServerRecord:
    Type: AWS::Route53::RecordSetGroup
    Properties:
      Comment: Alias record for the API server
      HostedZoneId: !Ref pHostedZoneId
      RecordSets:
      - Name: !Sub "edge-ingress.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
        Type: A
        AliasTarget:
          HostedZoneId: !GetAtt IngressElb.CanonicalHostedZoneID
          DNSName: !GetAtt IngressElb.DNSName
  InternalApiServerRecord:
    Type: AWS::Route53::RecordSetGroup
    Properties:
      Comment: Alias record for the API server
      HostedZoneId: !Ref pHostedZoneId
      RecordSets:
        - Name: !Sub "edge-api.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
          Type: A
          AliasTarget:
            HostedZoneId: !GetAtt IntApiElb.CanonicalHostedZoneID
            DNSName: !GetAtt IntApiElb.DNSName
        - Name: !Sub "edge-api-int.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
          Type: A
          AliasTarget:
            HostedZoneId: !GetAtt IntApiElb.CanonicalHostedZoneID
            DNSName: !GetAtt IntApiElb.DNSName
  InternalApiServerCNAMERecord:
    Type: AWS::Route53::RecordSetGroup
    DependsOn: InternalApiServerRecord
    Properties:
      Comment: Alias record for the API server
      HostedZoneId: !Ref pHostedZoneId
      RecordSets:
        - Name: !Sub "api.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
          Type: CNAME
          TTL: 900
          ResourceRecords:
            - !Sub "edge-api.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
        - Name: !Sub "api-int.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
          Type: CNAME
          TTL: 900
          ResourceRecords:
            - !Sub "edge-api-int.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
  IngressListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: forward
          TargetGroupArn:
            Ref: IngressTargetGroup
      LoadBalancerArn:
        Ref: IngressElb
      Port: 443
      Protocol: TCP
  IngressTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      HealthCheckIntervalSeconds: 10
      HealthCheckPath: "/readyz"
      HealthCheckPort: 6443
      HealthCheckProtocol: HTTPS
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 2
      Port: 6443
      Protocol: TCP
      TargetType: ip
      VpcId:
        Ref: pVpcId
      TargetGroupAttributes:
        - Key: deregistration_delay.timeout_seconds
          Value: 60
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: "kubernetesPlatform"
          Value: !Ref pKubernetesType
  InternalApiListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: forward
          TargetGroupArn:
            Ref: InternalApiTargetGroup
      LoadBalancerArn:
        Ref: IntApiElb
      Port: 6443
      Protocol: TCP
  InternalApiTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      HealthCheckIntervalSeconds: 10
      HealthCheckPath: "/readyz"
      HealthCheckPort: 6443
      HealthCheckProtocol: HTTPS
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 2
      Port: 6443
      Protocol: TCP
      TargetType: ip
      VpcId:
        Ref: pVpcId
      TargetGroupAttributes:
        - Key: deregistration_delay.timeout_seconds
          Value: 60
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: "kubernetesPlatform"
          Value: !Ref pKubernetesType
  InternalServiceInternalListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: forward
          TargetGroupArn:
            Ref: InternalServiceTargetGroup
      LoadBalancerArn:
        Ref: IntApiElb
      Port: 22623
      Protocol: TCP
  InternalServiceTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      HealthCheckIntervalSeconds: 10
      HealthCheckPath: "/healthz"
      HealthCheckPort: 22623
      HealthCheckProtocol: HTTPS
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 2
      Port: 22623
      Protocol: TCP
      TargetType: ip
      VpcId:
        Ref: pVpcId
      TargetGroupAttributes:
        - Key: deregistration_delay.timeout_seconds
          Value: 60
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: "kubernetesPlatform"
          Value: !Ref pKubernetesType
  RegisterTargetLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName:
        !Join [
          "-",
          [
            !Ref pKubernetesType,
            !Ref pInfrastructureName,
            "nlb",
            "lambda",
            "role",
          ],
        ]
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Path: "/"
      ManagedPolicyArns:
        - !Sub arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName:
            !Join [
              "-",
              [!Ref pKubernetesType, !Ref pInfrastructureName, "cp", "policy"],
            ]
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  [
                    "elasticloadbalancing:RegisterTargets",
                    "elasticloadbalancing:DeregisterTargets",
                  ]
                Resource: !Ref InternalApiTargetGroup
              - Effect: "Allow"
                Action:
                  [
                    "elasticloadbalancing:RegisterTargets",
                    "elasticloadbalancing:DeregisterTargets",
                  ]
                Resource: !Ref InternalServiceTargetGroup
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: "kubernetesPlatform"
          Value: !Ref pKubernetesType
  RegisterNlbIpTargets:
    Type: AWS::Lambda::Function
    Properties:
      Handler: "index.handler"
      Role: !GetAtt
        - "RegisterTargetLambdaIamRole"
        - "Arn"
      Code:
        ZipFile: |
          import json
          import boto3
          import cfnresponse
          def handler(event, context):
            elb = boto3.client('elbv2')
            if event['RequestType'] == 'Delete':
              elb.deregister_targets(TargetGroupArn=event['ResourceProperties']['TargetArn'],Targets=[{'Id': event['ResourceProperties']['TargetIp']}])
            elif event['RequestType'] == 'Create':
              elb.register_targets(TargetGroupArn=event['ResourceProperties']['TargetArn'],Targets=[{'Id': event['ResourceProperties']['TargetIp']}])
            elif event['RequestType'] == 'Update':
              elb.register_targets(TargetGroupArn=event['ResourceProperties']['TargetArn'],Targets=[{'Id': event['ResourceProperties']['TargetIp']}])
            responseData = {}
            cfnresponse.send(event, context, cfnresponse.SUCCESS, responseData, event['ResourceProperties']['TargetArn']+event['ResourceProperties']['TargetIp'])
      Runtime: "python3.11"
      Timeout: 120
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: "kubernetesPlatform"
          Value: !Ref pKubernetesType
  RegisterSubnetTagsLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName:
        !Join [
          "-",
          [
            !Ref pInfrastructureName,
            "subnet-tags-lambda-role",
            !Ref pDeploymentNumber,
            !Ref pKubernetesType,
          ],
        ]
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Path: "/"
      ManagedPolicyArns:
        - !Sub arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName:
            !Join [
              "-",
              [
                !Ref pInfrastructureName,
                "subnet-tagging-policy",
                !Ref pDeploymentNumber,
                !Ref pKubernetesType,
              ],
            ]
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: ["ec2:DeleteTags", "ec2:CreateTags"]
                Resource: "arn:aws-us-gov:ec2:*:*:subnet/*"
              - Effect: "Allow"
                Action: ["ec2:DescribeSubnets", "ec2:DescribeTags"]
                Resource: "*"
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: "kubernetesPlatform"
          Value: !Ref pKubernetesType
  RegisterSubnetTags:
    Type: AWS::Lambda::Function
    Properties:
      Handler: "index.handler"
      Role: !GetAtt
        - "RegisterSubnetTagsLambdaIamRole"
        - "Arn"
      Code:
        ZipFile: |
          import json
          import boto3
          import cfnresponse
          def handler(event, context):
            ec2_client = boto3.client('ec2')
            if event['RequestType'] == 'Delete':
              for subnet_id in event['ResourceProperties']['Subnets']:
                ec2_client.delete_tags(Resources=[subnet_id], Tags=[{'Key': 'kubernetes.io/cluster/' + event['ResourceProperties']['pInfrastructureName'] + event['ResourceProperties']['pKubernetesType']}]);
            elif event['RequestType'] == 'Create':
              for subnet_id in event['ResourceProperties']['Subnets']:
                ec2_client.create_tags(Resources=[subnet_id], Tags=[{'Key': 'kubernetes.io/cluster/' + event['ResourceProperties']['pInfrastructureName'] + event['ResourceProperties']['pKubernetesType'], 'Value': 'shared'}]);
            responseData = {}
            cfnresponse.send(event, context, cfnresponse.SUCCESS, responseData, event['ResourceProperties']['pInfrastructureName']+event['ResourceProperties']['Subnets'][0])
      Runtime: "python3.11"
      Timeout: 120
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: "kubernetesPlatform"
          Value: !Ref pKubernetesType
  RegisterPrivateSubnetTags:
    Type: Custom::SubnetRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !GetAtt RegisterSubnetTags.Arn
      pInfrastructureName: !Ref pInfrastructureName
      pKubernetesType: !Ref pKubernetesType
      Subnets:
        - !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-0/id}}"
  InternalApiLoadBalancerNameParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/internalapiloadbalancer/name"
      Type: String
      Value: !GetAtt IntApiElb.LoadBalancerFullName
      Description: SSM Parameter for InternalApiLoadBalancerName
  ApiServerDnsNameParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/api-server-dns/name"
      Type: String
      Value:
        !Join [
          ".",
          [
            !Sub "${pKubernetesType}-edge-api-int",
            !Ref pClusterName,
            "sample",
            !Ref pHostedZoneName,
          ],
        ]
      Description: SSM Parameter for ApiServerDnsName
  RegisterNlbIpTargetsLambdaParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn"
      Type: String
      Value: !GetAtt RegisterNlbIpTargets.Arn
      Description: SSM Parameter for ApiServerDnsName
  InternalApiTargetGroupArnParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/internalapitargetgroup/arn"
      Type: String
      Value: !Ref InternalApiTargetGroup
      Description: SSM Parameter for InternalApiTargetGroup
  InternalServiceTargetGroupArnParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/internalservicetargetgroup/arn"
      Type: String
      Value: !Ref InternalServiceTargetGroup
      Description: SSM Parameter for InternalServiceTargetGroup
  IngressTargetGroupArnParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/ingresstargetgroup/arn"
      Type: String
      Value: !Ref InternalServiceTargetGroup
      Description: SSM Parameter for InternalServiceTargetGroup
