AWSTemplateFormatVersion: 2010-09-09
Description: Template for OpenShift Cluster Node Launch (EC2 worker instance)
Parameters:
  pSampleEnv:
    Type: String
    Description: Production? Test?
    AllowedValues:
      - prod
      - test
  pEc2DailyStop:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 10PM EST, 7PM PST?
    AllowedValues:
      - "true"
      - "false"
  pEc2DailyStart:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 4AM EST, 1AM PST?
    AllowedValues:
      - "true"
      - "false"
  pKubernetesType:
    Type: String
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pDomain:
    Description: The domain representing the environment (ex. sample.sample.dev or sample.sample.dev)
    Type: String
    AllowedValues:
      - sample
      - sample
  pInfrastructureName:
    AllowedPattern: ^([a-zA-Z][a-zA-Z0-9\-]{0,26})$
    MaxLength: 27
    MinLength: 1
    ConstraintDescription: Infrastructure name must be alphanumeric, start with a letter, and have a maximum of 27 characters.
    Description: A short, unique cluster ID used to tag nodes for the kubelet cloud provider.
    Type: String
  pRhcosAmiId:
    Description: Current Red Hat Enterprise Linux CoreOS AMI to use for bootstrap.
    Type: AWS::EC2::Image::Id
  pCertificateAuthorities:
    Description: Base64 encoded certificate authority string to use.
    Type: String
  pWorkerInstanceType:
    Type: String
  pHostedZoneId:
    Description: The Route53 public zone ID to register the targets with, such as Z21IXYZABCZ2A4.
    Type: String
  pKeyId:
    Type: String
  pWorkerSecurityGroupId:
    Type: String
  pWorkerInstanceProfileId:
    Type: String
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "Cluster Information"
        Parameters:
          - pInfrastructureName
      - Label:
          default: "Host Information"
        Parameters:
          - pWorkerInstanceType
          - pRhcosAmiId
          - pCertificateAuthorities
          - pWorkerSecurityGroupId
      - Label:
          default: "Network Configuration"
        Parameters:
          - Subnet
    ParameterLabels:
      pInfrastructureName:
        default: "Infrastructure Name"
      pWorkerInstanceType:
        default: "Worker Instance Type"
      pRhcosAmiId:
        default: "Red Hat Enterprise Linux CoreOS AMI ID"
      pCertificateAuthorities:
        default: "Ignition CA String"
      pWorkerSecurityGroupId:
        default: "Worker Security Group ID"
Resources:
  KubernetesLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub worker-${pDeploymentNumber}-${pEnvironment}-${pKubernetesType}-launch-template
      LaunchTemplateData:
        KeyName: !Sub "{{resolve:ssm:/sample/ec2/sample-deployment-${pDeploymentNumber}/ec2/default-key/name}}"
        ImageId: !Ref pRhcosAmiId
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeSize: "120"
              VolumeType: "gp2"
        IamInstanceProfile:
          Name: !Ref pWorkerInstanceProfileId
        InstanceType: !Ref pWorkerInstanceType
        UserData:
          Fn::Base64: !Sub
            - '{"ignition":{"config":{"merge":[{"source":"${SOURCE}"}]},"security":{"tls":{"certificateAuthorities":[{"source":"${CA_BUNDLE}"}]}},"version":"3.1.0"},"passwd":{"users":[{"name":"core","sshAuthorizedKeys":["${SSH_PUBKEY}"]}]}}'
            - {
                SOURCE: !Sub "https://api-int.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev:22623/config/worker",
                CA_BUNDLE: !Ref pCertificateAuthorities,
                SSH_PUBKEY: !Sub "{{resolve:ssm:/ec2/keypair/${pKeyId}/public}}"
              }
        NetworkInterfaces:
          - AssociatePublicIpAddress: "false"
            DeviceIndex: "0"
            Groups:
              - !Ref pWorkerSecurityGroupId
            SubnetId: !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-0/id}}"
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: ec2DailyStop
                Value: !Ref pEc2DailyStop
              - Key: ec2DailyStart
                Value: !Ref pEc2DailyStart
              - Key: "deploymentType"
                Value: sampleDeployment
              - Key: "deploymentEnvironment"
                Value: !Ref pEnvironment
              - Key: "sampleDeploymentNumber"
                Value: !Ref pDeploymentNumber
              - Key:
                  !Join [
                    "",
                    ["kubernetes.io/cluster/", !Ref pInfrastructureName, !Ref pKubernetesType],
                  ]
                Value: "shared"
              - Key: "systemGroup"
                Value: "RCHOS"
              - Key: "kubernetesPlatform"
                Value: !Ref pKubernetesType
              - Key: "version"
                Value: "1"
  Worker0:
    Type: AWS::EC2::Instance
    Properties:
      LaunchTemplate:
        LaunchTemplateId: !Ref KubernetesLaunchTemplate
        Version: !GetAtt KubernetesLaunchTemplate.LatestVersionNumber
      Tags:
        - Key: Name
          Value: !Sub "worker-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
  Worker0EC2HostRoute53Record:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref pHostedZoneId
      Name: !Sub "worker-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
      ResourceRecords:
        - !GetAtt Worker0.PrivateIp
      TTL: 900
      Type: A
  WorkerPrivateIp0Parameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/ec2/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/worker/0/privateip"
      Type: String
      Value: !GetAtt Worker0.PrivateIp
      Description: SSM Parameter for ControlPlanePrivateIPs
