AWSTemplateFormatVersion: 2010-09-09
Parameters:
  pSAMPLEEnv:
    Type: String
    Description: Production? Test?
    AllowedValues:
      - prod
      - test
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pKubernetesType:
    Type: String
  pVpcPrefix:
    Description: Prefix for VPC.
    Type: String
  pVpcId:
    Type: AWS::EC2::VPC::Id
Resources:
  kubernetesFileSystemSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Enable access from devices within the VPC"
      VpcId: !Ref pVpcId
      SecurityGroupIngress:
        - IpProtocol: -1
          SourcePrefixListId: !Ref pVpcPrefix
  kubernetesFileSystemResource:
    Type: AWS::EFS::FileSystem
    Properties:
      BackupPolicy:
        Status: ENABLED
      PerformanceMode: maxIO
      Encrypted: true
      LifecyclePolicies:
        - TransitionToIA: AFTER_30_DAYS
        - TransitionToPrimaryStorageClass: AFTER_1_ACCESS
      FileSystemTags:
        - Key: Name
          Value: !Sub Deployment-${pDeploymentNumber}.${pEnvironment}-${pKubernetesType}-FileSystem
  kubernetesMountTargetResource0:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: !Ref kubernetesFileSystemResource
      SubnetId: !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSAMPLEEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-0/id}}"
      SecurityGroups:
      - !Ref kubernetesFileSystemSecurityGroup
  kubernetesFileSystemResourceParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/efs/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/filesystem/id"
      Type: String
      Value: !Ref kubernetesFileSystemResource
      Description: SSM Parameter for kubernetesFileSystemResource
Outputs:
  kubernetesFileSystemResourceOutput:
    Value: !Ref kubernetesFileSystemResource