Parameters:
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pKeyId:
    Type: String
Resources:
  lambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      ManagedPolicyArns:
        - "arn:aws-us-gov:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: /
      Description: Role for Lambda Execution of Public Key Extraction and Uploading
      RoleName: !Sub ${pEnvironment}-${pDeploymentNumber}-public-key-lambda-role
  lambdaExecutionRoleAdditionalPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      Description: "lambdaExecutionRoleAdditionalPolicy"
      ManagedPolicyName: !Sub ${pEnvironment}-${pDeploymentNumber}-lambdaExecutionRoleAdditionalPolicy
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Sid: VisualEditor0
            Effect: Allow
            Action:
              - ssm:PutParameter
              - ssm:LabelParameterVersion
              - ssm:DeleteParameter
              - ssm:UnlabelParameterVersion
              - ssm:DescribeParameters
              - ssm:GetParameterHistory
              - ssm:DescribeDocumentParameters
              - ssm:GetParametersByPath
              - ssm:GetParameters
              - ssm:GetParameter
              - ssm:DeleteParameters
            Resource: "*"
      Roles:
        - !Ref lambdaExecutionRole
  lambdaGeneratePublicKey:
    Type: AWS::Lambda::Function
    DependsOn: lambdaExecutionRole
    Properties:
      Code:
        ZipFile: |
          import logging
          import boto3
          import json
          import cfnresponse as cfn
          from Crypto.PublicKey import RSA
          from base64 import b64decode

          logger = logging.getLogger()
          logger.setLevel(logging.INFO)
          client = boto3.client('ssm')

          def lambda_handler(event, context):
            KeyId = event['ResourceProperties']['Key_Id']
            ParameterName = "/ec2/keypair/" + KeyId
            try:
              KeyData = client.get_parameter(
                  Name=ParameterName,
                  WithDecryption=True
              )
              KeyPriv = RSA.importKey(KeyData['Parameter']['Value'])
              PublicKey = str(KeyPriv.publickey().exportKey('OpenSSH'))
              PublicKey = PublicKey.lstrip("b'")
              PublicKey = PublicKey.rstrip("'")

              response = client.put_parameter(
                  Name=ParameterName + "/public",
                  Value=(PublicKey),
                  Type='String',
                  Overwrite=True
              )
              print('Successfully Created and Uploaded Public Key')
              cfn.send(event, context, cfn.SUCCESS, {"Message": "Successfully Created and Uploaded Public Key"})
              logger.info('SUCCESS!')
            except Exception as e:
              print("Error: " + str(e))
              logger.info('FAILED! - Exception')
              cfn.send(event, context, cfn.FAILED, {"Message": "Failed"})
            return
      Role: !GetAtt lambdaExecutionRole.Arn
      Description: Obtain Public Key and Upload it to Parameter Store.
      Handler: index.lambda_handler
      Runtime: python3.12
      Timeout: 90
      FunctionName: !Sub ${pEnvironment}-${pDeploymentNumber}-PublicKeyUpload
      Layers:
        - !Sub "{{resolve:ssm:/sample/lambda/layers/sample-lambda-layer/arn}}"
  lambdaGeneratePublicKeyInvite:
    Type: Custom::lambdaGeneratePublicKey
    DeletionPolicy: Retain
    DependsOn: lambdaGeneratePublicKey
    Properties:
      ServiceTimeout: 300
      ServiceToken: !GetAtt lambdaGeneratePublicKey.Arn
      FunctionName: !Sub ${pEnvironment}-${pDeploymentNumber}-PublicKeyUpload
      Key_Id: !Ref pKeyId