AWSTemplateFormatVersion: 2010-09-09
Description: Template for Best Practice VPC with 1-3 AZs
Parameters:
  pVpcId:
    Description: The ID of the VPC
    Type: String
  pSubnetCidr0:
    Description: CIDR block for Subnet.
    Type: String
  pSubnetCidr1:
    Description: CIDR block for Subnet.
    Type: String
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pDomain:
    Description: The domain representing the environment (ex. sample.sample.dev or sample.sample.dev)
    Type: String
    AllowedValues:
      - sample
      - sample
  pSampleEnv:
    Type: String
    Description: Production? Test?
    AllowedValues:
      - prod
      - test
  # pDevCidr0:
  #   Type: String
  # pDevCidr1:
  #   Type: String
  # pDevCidr2:
  #   Type: String
  # pDevCidr3:
  #   Type: String
  # pUpprodPeeringID:
  #   Type: String
  # pUptestPeeringID:
  #   Type: String
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "Network Configuration"
        Parameters:
          - SubnetBits
Conditions:
  Upstream: !Or
    - !Equals
      - upprod
      - !Ref pEnvironment
    - !Equals
      - uptest
      - !Ref pEnvironment
  Uptest: !Equals
    - !Ref pEnvironment
    - "uptest"
  Upprod: !Equals
    - !Ref pEnvironment
    - "upprod"
Resources:
  PrivateSubnet0:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref pVpcId
      CidrBlock: !Ref pSubnetCidr0
      AvailabilityZone: !Select
        - 0
        - Fn::GetAZs: !Ref "AWS::Region"
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: Name
          Value: !Sub "sample-deployment-${pDeploymentNumber}-subnet-0"
  PrivateSubnet1:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref pVpcId
      CidrBlock: !Ref pSubnetCidr1
      AvailabilityZone: !Select
        - 1
        - Fn::GetAZs: !Ref "AWS::Region"
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: Name
          Value: !Sub "sample-deployment-${pDeploymentNumber}-subnet-1"
  PrivateRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref pVpcId
      Tags:
        - Key: Name
          Value: !Sub "sample-deployment-${pDeploymentNumber}-subnet-0-rt"
  PrivateSubnet0RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnet0
      RouteTableId: !Ref PrivateRouteTable
  PrivateSubnet1RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnet1
      RouteTableId: !Ref PrivateRouteTable
  Route:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      TransitGatewayId: !Sub "{{resolve:ssm:/sample/sample-${pEnvironment}-${pSampleEnv}-vpc/tgw/id}}"
  PrivateSubnet1Parameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-0/id"
      Type: String
      Value: !Ref PrivateSubnet0
      Description: SSM Parameter for Central Services Subnet ID
  PrivateSubnetParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-1/id"
      Type: String
      Value: !Ref PrivateSubnet1
      Description: SSM Parameter for Central Services Subnet ID
  PrivateSubnetRTParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/vpc/sample-dev-vpc/sample-deployment-${pDeploymentNumber}-subnet-0/rt"
      Type: String
      Value: !Ref PrivateRouteTable
      Description: SSM Parameter for Central Services Subnet ID
  # sampleDevPrefix:
  #   Type: AWS::EC2::PrefixList
  #   Condition: Upstream
  #   Properties:
  #     AddressFamily: IPv4
  #     Entries:
  #       - Cidr: !Ref pDevCidr0
  #       - Cidr: !Ref pDevCidr1
  #       - Cidr: !Ref pDevCidr2
  #       - Cidr: !Ref pDevCidr3
  #     MaxEntries: 6
  #     PrefixListName: !Sub sample-production-prod-cidr-prefix
  VPCPeeringRoute:
    Type: AWS::EC2::Route
    Condition: Upstream
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      DestinationPrefixListId: !Sub "{{resolve:ssm:/sample/vpc/prod/prefix/dev/id}}"
      VpcPeeringConnectionId: !If
        - Upprod
        - !Sub "{{resolve:ssm:/sample/vpc/peering/upprod/id}}"
        - !Sub "{{resolve:ssm:/sample/vpc/peering/uptest/id}}"
  # DevSubnetPrefixParameter:
  #   Type: AWS::SSM::Parameter
  #   Condition: Upstream
  #   Properties:
  #     Name: !Sub "/sample/vpc/prod/sample-dev-prefix/id"
  #     Type: String
  #     Value: !Ref sampleDevPrefix
  #     Description: SSM Parameter for Prod Central Services Prefix ID
