---
- name: Create compliance id parameters
  amazon.aws.ssm_parameter:
    name: "/redhat/insights/{{ item.name }}/complianceid"
    description: "Compliance ID for Red Hat Insights"
    string_type: "SecureString"
    value: "{{ item.id }}"
    overwrite_value: "always"
  loop: "{{ insights_compliance_ids }}"

- name: Get the current caller identity information
  amazon.aws.aws_caller_info:
    region: us-gov-west-1
  register: caller_info

- name: Set sample_environment variable
  ansible.builtin.set_fact:
    sample_environment: "{{ lookup('ansible.builtin.vars', 'id_' + caller_info.account).sample_environment }}"

- name: Set deployment_environment variable
  ansible.builtin.set_fact:
    deployment_environment: "{{ lookup('ansible.builtin.vars', 'id_' + caller_info.account).deployment_environment }}"

- name: Get VPC ID
  amazon.aws.ec2_vpc_net_info:
  register: vpc_info

- name: Get Transit Gateway Info
  amazon.aws.ec2_transit_gateway_info:
  register: tgw_info

- name: Get Transit Gateway Attachment Info
  amazon.aws.ec2_transit_gateway_vpc_attachment_info:
  register: tgw_attachment_info

- name: Get AWS directory information
  ansible.builtin.shell: aws ds describe-directories --query DirectoryDescriptions[0].DirectoryId --output=text
  when: deployment_environment == "dev"
  register: directory_id

- name: Replace TGW ID
  ansible.builtin.lineinfile:
    path: "../common/files/deploymentParameters/{{ sample_environment }}/{{ deployment_environment }}/centralServices.yaml"
    regexp: "^pTGWId"
    line: "pTGWId: {{ tgw_info.transit_gateways[0].transit_gateway_id }}"

- name: Replace VPC ID
  ansible.builtin.lineinfile:
    path: "../common/files/deploymentParameters/{{ sample_environment }}/{{ deployment_environment }}/centralServices.yaml"
    regexp: "^pVpcId"
    line: "pVpcId: {{ vpc_info.vpcs[0].id }}"

- name: Replace Transit Gateway Attachment Subnet ID
  ansible.builtin.lineinfile:
    path: "../common/files/deploymentParameters/{{ sample_environment }}/{{ deployment_environment }}/centralServices.yaml"
    regexp: "^pTGWSubnetId"
    line: "pTGWSubnetId: {{ tgw_attachment_info.attachments[0].subnet_ids[0] }}"

- name: Replace Directory ID
  ansible.builtin.lineinfile:
    path: "../common/files/deploymentParameters/{{ sample_environment }}/{{ deployment_environment }}/centralServices.yaml"
    regexp: "^pDirectoryId"
    line: "pDirectoryId: {{ directory_id.stdout }}"
  when: deployment_environment == "dev"

- name: Sync Component templates
  community.aws.s3_sync:
    bucket: "{{ deployment_environment }}-cloud-formation-templates"
    key_prefix: supportingFiles
    file_root: ../common/files/supportingFiles/

- name: Create directory temp password if it does not exist.
  amazon.aws.ssm_parameter:
    name: "/sample/directory/temporary/password"
    description: "Temporary password for new Workspace users"
    string_type: "SecureString"
    value: "{{ lookup('community.general.random_string', length=16, special=true) }}"
    overwrite_value: "never"

- name: Create directory onboardAdmin password if it does not exist.
  amazon.aws.ssm_parameter:
    name: "/sample/directory/onboardAdmin/password"
    description: "Password for onboardAdmin to manage directory"
    string_type: "SecureString"
    value: "{{ lookup('community.general.random_string', length=16, special=true) }}"
    overwrite_value: "never"

- name: Create samplerheladmin password if it does not exist.
  amazon.aws.ssm_parameter:
    name: "/redhat/samplerheladmin/password"
    description: "Password for registering Red Hat instances"
    string_type: "SecureString"
    value: "{{ secrets.samplerheladmin }}"
    overwrite_value: "always"
  ignore_errors: true

- name: Create break-glass ec2 root password if it does not exist.
  amazon.aws.ssm_parameter:
    name: "/sample/ec2/root/password"
    description: "Root password can only be used through EC2 Serial Console. For use in events of SSH service failure."
    string_type: "SecureString"
    value: "{{ lookup('community.general.random_string', length=16, special=true, override_special=hex_chars, min_special=1) }}"
    overwrite_value: "never"
  vars:
    hex_chars: "&"
