AWSTemplateFormatVersion: 2010-09-09
Parameters:
  pLaunchTemplateId:
    Type: String
  pLaunchTemplateVer:
    Type: String
  pSampleEnv:
    Type: String
    Description: Production? Test?
    AllowedValues:
      - prod
      - test
  pEc2DailyStop:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 10PM EST, 7PM PST?
    AllowedValues:
      - "true"
      - "false"
  pEc2DailyStart:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 4AM EST, 1AM PST?
    AllowedValues:
      - "true"
      - "false"
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pDomain:
    Description: The domain representing the environment (ex. sample.sample.dev or sample.sample.dev)
    Type: String
    AllowedValues:
      - sample
      - sample
  pHostedZoneId:
    Type: String
  pEdgeInstanceType:
    Description: EC2 instance type
    Type: String
    AllowedValues:
      - c4.xlarge
      - c4.2xlarge
      - c4.4xlarge
      - c5.large
      - c5.xlarge
      - c5.2xlarge
      - c5.4xlarge
      - c5n.large
      - c5n.xlarge
      - c5n.2xlarge
      - c5n.4xlarge
      - c6i.large
      - c6i.xlarge
      - c6in.2xlarge
      - c6in.4xlarge
      - m4.large
      - m4.xlarge
      - m4.2xlarge
      - m4.4xlarge
      - m5.large
      - m5.xlarge
      - m5.2xlarge
      - m5.4xlarge
      - m5n.large
      - m5n.xlarge
      - m5n.2xlarge
      - m5n.4xlarge
      - m6i.xlarge
      - r4.large
      - r4.xlarge
      - r5.large
      - r5.xlarge
      - r6i.xlarge
      - r6i.2xlarge
      - r6i.4xlarge
      - r6i.8xlarge
      - r6i.12xlarge
      - r6in.xlarge
      - r6in.2xlarge
      - r6in.4xlarge
      - r6in.8xlarge
      - r6in.12xlarge
      - r7i.large
      - r7i.xlarge
      - t2.small (Testing / Not for Production Use)
      - t2.medium
      - t2.large
      - t3.small (Testing / Not for Production Use)
      - t3.medium
      - t3.large
      - t3.xlarge
      - t3.2xlarge
      - t3a.medium
    ConstraintDescription: Please choose a valid EC2 instance type
  pVpcId:
    Description: The VPC-scoped resources will belong to this VPC.
    Type: AWS::EC2::VPC::Id
  pVpcPrefix:
    Description: Prefix for VPC.
    Type: String
  pCentralServicesSubnetPrefix:
    Description: Prefix for Central Services Subnet.
    Type: String
Resources:
  secEC2HostSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Enable access from devices within the VPC"
      VpcId: !Ref pVpcId
      SecurityGroupIngress:
        - IpProtocol: -1
          SourcePrefixListId: !Ref pCentralServicesSubnetPrefix
        - IpProtocol: tcp
          FromPort: "443"
          ToPort: "443"
          SourcePrefixListId: !Ref pVpcPrefix
  secEC2Host:
    Type: AWS::EC2::Instance
    Properties:
      LaunchTemplate:
        LaunchTemplateId: !Ref pLaunchTemplateId
        Version: !Ref pLaunchTemplateVer
      InstanceType: !Ref pEdgeInstanceType
      KeyName: !Sub "{{resolve:ssm:/sample/ec2/sample-deployment-${pDeploymentNumber}/ec2/default-key/name}}"
      SubnetId: !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-0/id}}"
      SecurityGroupIds:
        - Ref: secEC2HostSecurityGroup
      Tags:
        - Key: "deploymentType"
          Value: sampleDeployment
        - Key: "deploymentEnvironment"
          Value: !Ref pEnvironment
        - Key: "sampleDeploymentNumber"
          Value: !Ref pDeploymentNumber
        - Key: Name
          Value: !Sub "sec.${pDeploymentNumber}.edge.${pEnvironment}.${pDomain}.dev"
        - Key: ec2DailyStop
          Value: !Ref pEc2DailyStop
        - Key: ec2DailyStart
          Value: !Ref pEc2DailyStart
  secEC2HostRoute53Record:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref pHostedZoneId
      Name: !Sub "sec.${pDeploymentNumber}.edge.${pEnvironment}.${pDomain}.dev"
      ResourceRecords:
        - !GetAtt secEC2Host.PrivateIp
      TTL: 900
      Type: A
