AWSTemplateFormatVersion: 2010-09-09
Description: Template for OpenShift Cluster Node Launch (EC2 cp instances)
Parameters:
  pSampleEnv:
    Type: String
    Description: Production? Test?
    AllowedValues:
      - prod
      - test
  pEc2DailyStop:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 10PM EST, 7PM PST?
    AllowedValues:
      - "true"
      - "false"
  pEc2DailyStart:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 4AM EST, 1AM PST?
    AllowedValues:
      - "true"
      - "false"
  pKubernetesType:
    Type: String
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pDomain:
    Description: The domain representing the environment (ex. sample.sample.dev or sample.sample.dev)
    Type: String
    AllowedValues:
      - sample
      - sample
  pInfrastructureName:
    AllowedPattern: ^([a-zA-Z][a-zA-Z0-9\-]{0,26})$
    MaxLength: 27
    MinLength: 1
    ConstraintDescription: Infrastructure name must be alphanumeric, start with a letter, and have a maximum of 27 characters.
    Description: A short, unique cluster ID used to tag nodes for the kubelet cloud provider.
    Type: String
  pControlPlaneInstanceType:
    Type: String
  pAutoRegisterELB:
    AllowedValues:
      - "yes"
      - "no"
    Description: Do you want to invoke NLB registration, which requires a Lambda ARN parameter?
    Type: String
  pHostedZoneId:
    Description: The Route53 public zone ID to register the targets with, such as Z21IXYZABCZ2A4.
    Type: String
  pAMIId:
    Type: AWS::EC2::Image::Id
  pControlPlaneSecurityGroupId:
    Type: String
  pControlPlaneInstanceProfileId:
    Type: String
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "Cluster Information"
        Parameters:
          - pInfrastructureName
      - Label:
          default: "Host Information"
        Parameters:
          - pControlPlaneInstanceType
          - pKubAmiId
      - Label:
          default: "Network Configuration"
        Parameters:
          - pVpcId
          - AllowedBootstrapSshCidr
          - pControlPlane0Subnet
          - pControlPlane1Subnet
          - pControlPlane2Subnet
      - Label:
          default: "Load Balancer Automation"
        Parameters:
          - pAutoRegisterELB
          - pRegisterNlbIpTargetsLambdsamplern
          - ExternalApiTargetGroupArn
          - pInternalApiTargetGroupArn
          - pInternalServiceTargetGroupArn
    ParameterLabels:
      pInfrastructureName:
        default: "Infrastructure Name"
      pVpcId:
        default: "VPC ID"
      pControlPlane0Subnet:
        default: "ControlPlane-0 Subnet"
      pControlPlane1Subnet:
        default: "ControlPlane-1 Subnet"
      pControlPlane2Subnet:
        default: "ControlPlane-2 Subnet"
      pControlPlaneInstanceType:
        default: "ControlPlane Instance Type"
      pKubAmiId:
        default: "Red Hat Enterprise Linux CoreOS AMI ID"
      pAutoRegisterELB:
        default: "Use Provided ELB Automation"
Conditions:
  DoRegistration: !Equals ["yes", !Ref pAutoRegisterELB]
Resources:
  KubernetesLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub cp-${pDeploymentNumber}-${pEnvironment}-${pKubernetesType}-launch-template
      LaunchTemplateData:
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            TOKEN=`curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600"`
            OSVERSION=$(grep -E '^(VERSION_ID)=' /etc/os-release | awk -F"\"" '{print $2}' | awk -F"." '{print $1}')
            COMPLIANCEID=$(aws ssm get-parameter --name /redhat/insights/rhel$OSVERSION/complianceid --query Parameter.Value --with-decryption --output=text)
            REDHATPASSWORD=$(aws ssm get-parameter --name /redhat/samplerheladmin/password --query Parameter.Value --with-decryption --output=text)
            ROOTPASSWORD=$(aws ssm get-parameter --name /sample/ec2/root/password --query Parameter.Value --with-decryption --output=text)
            InstanceName=`curl -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/tags/instance/Name`
            hostnamectl set-hostname $InstanceName --static
            dnf install python3.12 -y
            echo "root:$ROOTPASSWORD" | chpasswd
            echo "dumb"
        KeyName: !Sub "{{resolve:ssm:/sample/ec2/sample-deployment-${pDeploymentNumber}/ec2/default-key/name}}"
        MetadataOptions:
          InstanceMetadataTags: enabled
          HttpTokens: optional
        ImageId: !Ref pAMIId
        BlockDeviceMappings:
          - DeviceName: /dev/sda1
            Ebs:
              VolumeSize: "130"
              VolumeType: "gp2"
        IamInstanceProfile:
          Name: !Ref pControlPlaneInstanceProfileId
        InstanceType: !Ref pControlPlaneInstanceType
        NetworkInterfaces:
          - AssociatePublicIpAddress: "false"
            DeviceIndex: "0"
            Groups:
              - !Ref pControlPlaneSecurityGroupId
            SubnetId: !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-1/id}}"
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: ec2DailyStop
                Value: !Ref pEc2DailyStop
              - Key: ec2DailyStart
                Value: !Ref pEc2DailyStart
              - Key: "deploymentType"
                Value: sampleDeployment
              - Key: "deploymentEnvironment"
                Value: !Ref pEnvironment
              - Key: "sampleDeploymentNumber"
                Value: !Ref pDeploymentNumber
              - Key: "systemGroup"
                Value: "Red Hat Enterprise Linux"
              - Key: "kubernetesPlatform"
                Value: "Kubernetes"

  ControlPlane0:
    Type: AWS::EC2::Instance
    Properties:
      LaunchTemplate:
        LaunchTemplateId: !Ref KubernetesLaunchTemplate
        Version: !GetAtt KubernetesLaunchTemplate.LatestVersionNumber
      Tags:
        - Key: Name
          Value: !Sub "cp-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
  RegisterControlPlane0InternalApiTarget:
    Condition: DoRegistration
    DeletionPolicy: Retain
    Type: Custom::NLBRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !Sub "{{resolve:ssm:/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn}}"
      TargetArn: !Sub "{{resolve:ssm:/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/apitargetgroup/arn}}"
      TargetIp: !GetAtt ControlPlane0.PrivateIp
  RegisterControlPlane0HTTPSTarget:
    Condition: DoRegistration
    DeletionPolicy: Retain
    Type: Custom::NLBRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !Sub "{{resolve:ssm:/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn}}"
      TargetArn: !Sub "{{resolve:ssm:/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/httpstargetgroup/arn}}"
      TargetIp: !GetAtt ControlPlane0.PrivateIp
  RegisterControlPlane0HTTPTarget:
    Condition: DoRegistration
    DeletionPolicy: Retain
    Type: Custom::NLBRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !Sub "{{resolve:ssm:/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn}}"
      TargetArn: !Sub "{{resolve:ssm:/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/httptargetgroup/arn}}"
      TargetIp: !GetAtt ControlPlane0.PrivateIp
  RegisterControlPlane0IstioTarget:
    Condition: DoRegistration
    DeletionPolicy: Retain
    Type: Custom::NLBRegister
    Properties:
      ServiceTimeout: 300
      ServiceToken: !Sub "{{resolve:ssm:/sample/lambda/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/registernlbiptargetslambda/arn}}"
      TargetArn: !Sub "{{resolve:ssm:/sample/elb/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/istiotargetgroup/arn}}"
      TargetIp: !GetAtt ControlPlane0.PrivateIp
  ControlPlane0EC2HostRoute53Record:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref pHostedZoneId
      Name: !Sub "cp-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
      ResourceRecords:
        - !GetAtt ControlPlane0.PrivateIp
      TTL: 900
      Type: A
  ControlPlanePrivateIp0Parameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/ec2/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/cp/0/privateip"
      Type: String
      Value: !GetAtt ControlPlane0.PrivateIp
      Description: SSM Parameter for ControlPlanePrivateIPs
