AWSTemplateFormatVersion: 2010-09-09
Description: Template for OpenShift Cluster Node Launch (EC2 worker instance)
Parameters:
  pSampleEnv:
    Type: String
    Description: Production? Test?
    AllowedValues:
      - prod
      - test
  pEc2DailyStop:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 10PM EST, 7PM PST?
    AllowedValues:
      - "true"
      - "false"
  pEc2DailyStart:
    Type: String
    Description: Do you want the EC2 resources to stop automatically Monday-Friday at 4AM EST, 1AM PST?
    AllowedValues:
      - "true"
      - "false"
  pKubernetesType:
    Type: String
  pEnvironment:
    Type: String
    Description: Development? Test Upstream? Prod Upstream?
    AllowedValues:
      - dev
      - upprod
      - uptest
  pDeploymentNumber:
    ConstraintDescription: "The number of the deployment."
    MinValue: 0
    MaxValue: 20
    Description: "The number of the deployment."
    Type: Number
  pDomain:
    Description: The domain representing the environment (ex. sample.sample.dev or sample.sample.dev)
    Type: String
    AllowedValues:
      - sample
      - sample
  pInfrastructureName:
    AllowedPattern: ^([a-zA-Z][a-zA-Z0-9\-]{0,26})$
    MaxLength: 27
    MinLength: 1
    ConstraintDescription: Infrastructure name must be alphanumeric, start with a letter, and have a maximum of 27 characters.
    Description: A short, unique cluster ID used to tag nodes for the kubelet cloud provider.
    Type: String
  pWorkerInstanceType:
    Type: String
  pHostedZoneId:
    Description: The Route53 public zone ID to register the targets with, such as Z21IXYZABCZ2A4.
    Type: String
  pAMIId:
    Type: AWS::EC2::Image::Id
  pWorkerSecurityGroupId:
    Type: String
  pWorkerInstanceProfileId:
    Type: String
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "Cluster Information"
        Parameters:
          - pInfrastructureName
      - Label:
          default: "Host Information"
        Parameters:
          - pWorkerInstanceType
          - pKubAmiId
          - pWorkerSecurityGroupId
      - Label:
          default: "Network Configuration"
        Parameters:
          - Subnet
    ParameterLabels:
      pInfrastructureName:
        default: "Infrastructure Name"
      pWorkerInstanceType:
        default: "Worker Instance Type"
      pKubAmiId:
        default: "Red Hat Enterprise Linux CoreOS AMI ID"
      pWorkerSecurityGroupId:
        default: "Worker Security Group ID"
Resources:
  KubernetesLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub worker-${pDeploymentNumber}-${pEnvironment}-${pKubernetesType}-launch-template
      LaunchTemplateData:
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            TOKEN=`curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600"`
            OSVERSION=$(grep -E '^(VERSION_ID)=' /etc/os-release | awk -F"\"" '{print $2}' | awk -F"." '{print $1}')
            COMPLIANCEID=$(aws ssm get-parameter --name /redhat/insights/rhel$OSVERSION/complianceid --query Parameter.Value --with-decryption --output=text)
            REDHATPASSWORD=$(aws ssm get-parameter --name /redhat/samplerheladmin/password --query Parameter.Value --with-decryption --output=text)
            ROOTPASSWORD=$(aws ssm get-parameter --name /sample/ec2/root/password --query Parameter.Value --with-decryption --output=text)
            InstanceName=`curl -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/tags/instance/Name`
            hostnamectl set-hostname $InstanceName --static
            dnf install python3.12 -y
            dnf install wget -y
            wget https://bootstrap.pypa.io/get-pip.py
            su ec2-user -c 'python get-pip.py --trusted-host pypi.org --trusted-host files.pythonhosted.org'
            su ec2-user -c '/home/ec2-user/.local/bin/pip install pipx --trusted-host pypi.org --trusted-host files.pythonhosted.org'
            su ec2-user -c '/home/ec2-user/.local/bin/pipx install --include-deps ansible==8.7.0'
            su ec2-user -c '/home/ec2-user/.local/bin/pipx ensurepath'
            dnf install insights-client scap-security-guide openscap-scanner openscap -y
            subscription-manager register --force --username samplerheladmin --password "$REDHATPASSWORD"
            insights-client --register
            insights-client  --compliance-assign  "$COMPLIANCEID"
            echo "root:$ROOTPASSWORD" | chpasswd
        KeyName: !Sub "{{resolve:ssm:/sample/ec2/sample-deployment-${pDeploymentNumber}/ec2/default-key/name}}"
        MetadataOptions:
          InstanceMetadataTags: enabled
          HttpTokens: optional
        ImageId: !Ref pAMIId
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeSize: "130"
              VolumeType: "gp2"
        IamInstanceProfile:
          Name: !Ref pWorkerInstanceProfileId
        InstanceType: !Ref pWorkerInstanceType
        NetworkInterfaces:
          - AssociatePublicIpAddress: "false"
            DeviceIndex: "0"
            Groups:
              - !Ref pWorkerSecurityGroupId
            SubnetId: !Sub "{{resolve:ssm:/sample/vpc/sample-${pEnvironment}-${pSampleEnv}-vpc/sample-deployment-${pDeploymentNumber}-subnet-1/id}}"
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: ec2DailyStop
                Value: !Ref pEc2DailyStop
              - Key: ec2DailyStart
                Value: !Ref pEc2DailyStart
              - Key: "deploymentType"
                Value: sampleDeployment
              - Key: "deploymentEnvironment"
                Value: !Ref pEnvironment
              - Key: "sampleDeploymentNumber"
                Value: !Ref pDeploymentNumber
              - Key: "systemGroup"
                Value: "Red Hat Enterprise Linux"
              - Key: "kubernetesPlatform"
                Value: !Ref pKubernetesType
  Worker0:
    Type: AWS::EC2::Instance
    Properties:
      LaunchTemplate:
        LaunchTemplateId: !Ref KubernetesLaunchTemplate
        Version: !GetAtt KubernetesLaunchTemplate.LatestVersionNumber
      Tags:
        - Key: Name
          Value: !Sub "worker-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
  Worker0EC2HostRoute53Record:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref pHostedZoneId
      Name: !Sub "worker-0.${pDeploymentNumber}.${pKubernetesType}.${pEnvironment}.${pDomain}.dev"
      ResourceRecords:
        - !GetAtt Worker0.PrivateIp
      TTL: 900
      Type: A
  WorkerPrivateIp0Parameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/sample/ec2/${pDeploymentNumber}-${pEnvironment}/${pKubernetesType}/worker/0/privateip"
      Type: String
      Value: !GetAtt Worker0.PrivateIp
      Description: SSM Parameter for ControlPlanePrivateIPs
