---
- name: Install dependencies
  hosts: localhost
  roles:
    - install-dependencies

- name: Deploy stack
  hosts: localhost
  tasks:
    - name: Deploy stack
      ansible.builtin.include_role:
        name: deploy-stack
        tasks_from: variables.yml
  vars_files:
    - ../common/vars/main.yml

- name: Deploy stack
  hosts: localhost
  tasks:
    - name: Deploy-stack
      ansible.builtin.include_role:
        name: deploy-stack
        tasks_from: secure.yml
      when: deployment_number is not defined
  vars_files:
    - ../common/vars/main.yml
    - ../common/vars/secrets.yml

- name: Deploy stack
  hosts: localhost
  tasks:
    - name: Deploy-stack
      ansible.builtin.include_role:
        name: deploy-stack
        tasks_from: environment.yml
      when: deployment_number is not defined
  vars_files:
    - ../common/vars/main.yml
    - ../common/vars/secrets.yml

- name: Deploy stack
  hosts: localhost
  roles:
    - deploy-stack
  vars_files:
    - ../common/vars/main.yml

- name: Deploy stack
  hosts: localhost
  tasks:
    - name: Deploy stack
      ansible.builtin.include_role:
        name: deploy-stack
        tasks_from: tags.yml
      when: deployment_number is defined
  vars_files:
    - ../common/vars/main.yml
