---

- hosts: localhost
  roles:
    - install-dependencies

- hosts: localhost
  tasks:
    - include_role:
        name: deploy-stack
        tasks_from: variables.yml
  vars_files:
    - ../common/vars/main.yml

- hosts: localhost
  tasks:
    - include_role:
        name: deploy-stack
        tasks_from: secure.yml
      when: deployment_number is not defined
  vars_files:
    - ../common/vars/main.yml
    - ../common/vars/secrets.yml

- hosts: localhost
  tasks:
    - include_role:
        name: deploy-stack
        tasks_from: environment.yml
      when: deployment_number is not defined
  vars_files:
    - ../common/vars/main.yml
    - ../common/vars/secrets.yml

- hosts: localhost
  roles:
    - deploy-stack
  vars_files:
    - ../common/vars/main.yml

- hosts: localhost
  tasks:
    - include_role:
        name: deploy-stack
        tasks_from: tags.yml
      when: deployment_number is defined
  vars_files:
    - ../common/vars/main.yml