---
- name: Set tags
  hosts: localhost
  tasks:
    - name: Deploy stack
      ansible.builtin.include_role:
        name: deploy-stack
        tasks_from: tags.yml
  vars_files:
    - ../common/vars/main.yml
